.logout-wrap {
  width: 180px !important;
  border-radius: 4px;

  & .ant-menu-vertical .ant-menu-submenu {
    padding-bottom: 0;
  }
}

.avatar-wrap {
  float: right;
  margin-right: 12px;
  cursor: pointer;
}

.logout-menu {
  color: @error;
  font-weight:500;
  line-height: 36px;
  text-align: center;
  border-top: 1px solid @grey;

  &:hover {
    color: @error !important;
  }
}