.exploreBtn {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: inherit;
    font-size: 14px !important;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    color: #7e97b8;
    background-color: #e0e8ef;
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: rgba(255, 255, 255, 0.333);
    /* border-radius: 40px 40px 40px 40px; */
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    transform: translate(0px, 0px) rotate(0deg);
    transition: 0.2s;
    box-shadow: -1px 0px 6px 1px #ffffff, 1px 4px 16px 0px rgb(95 157 231 / 48%);
   }
   
   button:hover {
    color: #516d91;
    background-color: #E5EDF5;
    box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
   }
   
   button:active {
    box-shadow: none;
   }