@import 'antd/dist/antd.less';

.ant-layout {
  // background: @white;
}

.ant-message-notice-content {
  border-radius: 8px !important;
  .ant-message-success .anticon {
    color: @success !important;
  }
}

.logo {
  height: 32px;
  margin: 16px;
  background: @primary-color;
}

.site-layout .site-layout-background {
  background: @white;
  box-shadow: 0 2px 8px #f0f1f2;
}

.ant-input-affix-wrapper-borderless {
  background: @pale-grey;
  border-radius: 4px;
}

.ant-layout-content {
  position: relative;
  margin: 24px 24px !important;
}