@font-face {
  font-family: "iconfont"; /* Project id 2880815 */
  src: url('iconfont.woff2?t=1672797029719') format('woff2'),
       url('iconfont.woff?t=1672797029719') format('woff'),
       url('iconfont.ttf?t=1672797029719') format('truetype');
}

@font-face {
  font-family: "钉钉进步体 Regular";
  font-weight: 400;
  src: url("//at.alicdn.com/wf/webfont/eKeWjVhU0p3b/Ow3nNnL5E3Zn.woff2") format("woff2"),
  url("//at.alicdn.com/wf/webfont/eKeWjVhU0p3b/2o9ADQievgS7.woff") format("woff");
  font-display: swap;
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconText {
  font-family: "钉钉进步体 Regular" !important;
}

.icon-taiyang:before {
  content: "\e643";
}

.icon-yueliang:before {
  content: "\e6b6";
}

.icon--qianbao:before {
  content: "\e625";
}

