@font-face {
  font-family: "iconfont"; /* Project id 2880815 */
  src: url('//at.alicdn.com/t/font_2880815_y81ajjnn8h.woff2?t=1634716033280') format('woff2'),
       url('//at.alicdn.com/t/font_2880815_y81ajjnn8h.woff?t=1634716033280') format('woff'),
       url('//at.alicdn.com/t/font_2880815_y81ajjnn8h.ttf?t=1634716033280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--qianbao:before {
  content: "\e625";
}