.usercenter-wrap {
    height: calc(100vh - 70px);
    overflow: auto;
    & .setting-title {
        padding: 18px;
        font-weight: 600;
        font-size: 20px;
        border-bottom: 1px solid;
    }

    & .usercenter-content {
        height: calc(100% - 48px);
        margin: 24px;
        border-radius: 6px;

        & .setting-wrap {
            display: flex;
            height: calc(100% - 60px);

            & .setting-menu {
                width: 200px;

                & .ant-menu {
                    padding-top: 14px;
                    height: 100%;
                }
            }

            & .setting-info {
                flex: 1
            }
        }
    }
}