.userList-wrap {
    & .header-wrap {
      display: flex;
      justify-content: space-between;
      padding: 24px;

      & .title {
        font-size: 20px;
        font-weight: 600;
      }
    }

    & .preview-wrap {
        display: flex;
        margin: 24px 0;

        & .preivew-card {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
        }
    }

    & .userTable-wrap {
        padding: 0 24px;
        height: calc(100vh - 344px);
    }
}