.newHome-wrap {
    height: calc(100vh - 64px);
    overflow: auto;
    display: flex;
    justify-content: center;
    & .newHome-left-wrap {
        width: 310px;
        margin: 200px 0 0 110px;
        position: relative;

        & .newHome-title {
            font-size: 62px;
            font-weight: 600;
        }

        & .newHome-title {
            margin-bottom: 24px;
        }

        & .newHome-desc {
            margin-bottom: 24px;
            font-weight: 600;
            line-height: 20px;             
        }

        & .newHome-btn-wrap {
            display: flex;
            gap: 24px;
            width: 270px;
        }
    }

    & .newHome-right {
        margin: 218px 0px 0;
        & div {
            width: 700px;
            height: 259px;

            & svg {
                height: 100%;
            }
        }
    }
}

.addGroupPop {

    & .addGroupInput {
        margin-bottom: 14px;
    }

    & .addGroupBtn {
        display: flex;
        justify-content: end;
    }

    & .ant-popover-content {
        width: 300px;
    }
}

.createModal {
    & .createModalContent {
        & .avant-wrap {
            & .ant-upload {
                overflow: hidden;
            }

            & .ant-upload-wrapper {
                display: flex;
                justify-content: center;
            }

            & .upload-desc {
                text-align: center;
                font-size: 12px;
            }
        }

        & .form-wrap {
            & .isPublic-wrap {
                display: flex;

                & .isPublic-icon {
                    font-size: 24px;
                    display: flex;
                    align-self: center;
                    margin-left: 12px;
                    margin-right: 12px;
                }

                & .isPublic-content {
                    & .isPublic-desc {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.addModal {
    & .addGroupWrap {
        & .groupLogo-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 48px;
            & .group-logo-img {
                & .ant-avatar {
                    width: 100px;
                    height: 100px;
                }
                margin-bottom: 12px;
            }

            & .groupLogo-title {
                font-size: 18px;
                font-weight: 600;
            }
        }

        & .group-content {
            margin-bottom: 24px;
            
            & .ant-descriptions-view {
                margin-left: 35px;
            }
        }
    }
}