.newHome-wrap {
    height: calc(100vh - 64px);
    overflow: auto;

    & .newHome-left-wrap {
        width: 240px;
        margin: 144px 0 0 110px;
        position: relative;

        & .newHome-title {
            font-size: 62px;
            font-weight: 600;
        }

        & .newHome-title {
            margin-bottom: 24px;
        }

        & .newHome-desc {
            margin-bottom: 62px;
            font-weight: 600;
            line-height: 20px;             
        }

        & .newHome-btn-wrap {
            display: flex;
            gap: 24px;
            width: 270px;
        }
    }
}